@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  
  

}
.cenario {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 632px;
  border: 1px solid red;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  background-image: url(/src/static/fundo.gif);
  background-color: black;
  background-repeat: repeat-y;
  background-size: 100% auto; 
  animation: estrelas 8s linear infinite;

}
@keyframes estrelas {
  from {
    background-position: 0 0; /* Posição inicial */
  }
  to {
    background-position: 0 100%; /* Move o fundo para baixo */
  }
}
.jupt{
  position: relative;
  width: 700px;
  right: 240px;
  top: -150px;
  z-index: 1;

}

.nave{
  position: absolute;
  margin: 0;
  
  top: 77px;
  left: 523px;
  width: 670px;
  right: 0;
  z-index: 2;
}

.space{
  position: absolute;
  align-items: center;
  width: 370px;
  z-index: 3;
  top: 20%;
  z-index: 2;
}

.it{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36%;
  z-index: 2;
}

.it a {
  display: block;
  font-family: "Pixelify Sans", serif;
  margin-bottom: 20px; 
  border-radius: 20px; 
  width: 200px;
  background:linear-gradient(to bottom,  #2b8fbb ,#1a5e85  ) ;
  padding: 15px 0; 
  border: 6px solid #B8E5EB; 
  text-align: center;
  text-decoration: none;
  font-size: 34px; 
  font-weight: bold;
  color:#ffff; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
  transition: transform 0.2s; 
  
}

.it a:hover {
  transform: scale(1.05);
}


