.tela {
    display: flex;
    width: 1000px;
    height: 632px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    background-image: url(/src/static/fundo.gif);
    background-color: black;
    background-repeat: repeat-y;
    background-size: 100% auto;
    animation: estrelas 8s linear infinite;
}
@keyframes estrelas {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 100%;
    }
}
.enemy1{
  position: absolute;
  width:150px ;
  top: 77px;
  right: 50px;

}

.enemy3{
  position: absolute;
  width: 150px;
  
}
  
.nav {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 80px;
    z-index: 2;
  }