.tela {
  display: flex;
  width: 75vw; /* Ajusta a largura para ser responsiva */
  height: 85vh;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  background-image: url(/src/static/images/env.gif);
  border-radius: 20px;
  background-color: black;
  background-repeat: repeat-y;
  background-size: 100% auto;
  animation: estrelas 8s linear infinite;
}
@keyframes estrelas {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}
.enemies {
position: absolute;
top: 30px; 
width: 100%;
display: grid;
flex-direction: column;
align-items: center;
gap: 0px; 
}

.tiro {
  position: absolute;
  background-image:  url('/src/static/images/bullet.gif');
  background-color: gray;
 background-size: cover;
 border-radius: 20%;  
  
}
.life {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: aqua;
  font-family: "Pixelify Sans", serif;
}
.score {
  position: absolute;
  font-family: "Pixelify Sans", serif;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.nave {
position: absolute;
width: 85px;
height: 75px;
}

.enemy {
position: absolute;
width: 86px;
height: 75px;
}

.enelin {
position: relative;
}
.tiro-inimigo {
  position: absolute;
  width: 5px;
  height: 10px;
  background: red;
}
.game-over {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-family: "Pixelify Sans", serif;
}

.game-over-content {
  background: #222;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

button {
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  background: red;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Pixelify Sans", serif;
}
